
body {
    
    padding: 20px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    max-height: fit-content;
    gap: 20px;
    padding: 20px;
    justify-content: center;
}

.item {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
}

.item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item:hover {
    transform: translateY(-10px);
}
